<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
    <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
    <meta content="PPType" name="author" />
    <meta content="#ffffff" name="theme-color" />
     --><title>Hospital XYZ</title>
    <link rel="stylesheet" type="text/css" href="semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="default.css" />
    <link rel="stylesheet" type="text/css" href="pandoc-code-highlight.css" />
    <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
    <script src="jquery.min.js"></script>
</head>


<body>

<!-- <div class="ui horizontal divider">or</div> -->

<div class="ui container">

    <form class="ui form segment" action="/tijian" method="POST">

        <h1>宿州市第一人民医院</h1>


            <strong>宿州市第一人民医院简介</strong></p>
            <p>
                　　宿州市第一人民医院暨宿州矿业大学附属医院、宿州医科大学附属宿州市立医院、宿州市红十字医院，始建于1935年，是一所设备先进、技术精湛、环境优美、在宿州市乃至淮海经济区有较大影响的，集医疗、教学、科研、预防保健于一体的三级甲等综合医院。是国家级爱婴医院，国际白内障复明基地，国际&ldquo;微笑列车&rdquo;唇腭裂手术定点医院，民政部、卫生部&ldquo;明天计划&rdquo;手术定点医院，为国家级住院医师规范化培训基地、国家级临床药物实验基地、国家级胸痛中心、国家级空中救援基地、国家级肿瘤康复实践基地、国家级无痛分娩试点医院。徐州市眼科医院、徐州市眼病防治研究所、徐州市脑血管病研究所、徐州市不孕症研究所皆设于该院。</p>
            <p>
                　　医院占地210亩，总建筑面积39万平方米，拥有3800个停车位，开放床位2500张，设有51个病区，42个临床科室，14个医技科室，3个研究所，14个教研室。在职职工2240余人，其中高级职称503名，享有国家政府津贴的专家3名，博士、硕士研究生460名，省&ldquo;333&rdquo;工程培养对象34名，省&ldquo;六大人才高峰&rdquo;高层次人才3名，市&ldquo;双百工程&rdquo;人才50名，硕士生导师35名;现有4个省级临床重点专科、36个市级重点学(专)科;另有江苏省腹膜透析指导中心、市级诊疗中心、市级卒中救治中心、市级青少年近视防控中心、市级孕产妇和新生儿危急重症救治中心、市级重点实验室、红十字眼库、市级儿童白血病救治定点医疗机构等。拥有300余台代表当今先进水平的医疗设备，承担着徐州市及苏、鲁、豫、皖四省接壤地区的急危重症医疗抢救任务。</p>
            <p>
                　　眼科是省级临床重点专科、徐州市优势学科、徐州市眼病诊疗中心，是中国眼科AI真实世界研究联盟单位、淮海眼科联盟AI阅片中心、长三角疑难眼底病诊治平台。设有8个亚专业组，1个徐州市重点实验室和徐州市红十字眼库。年门诊量约27万人次，手术1.2万余例。其开展的微创玻璃体手术治疗复杂性视网膜脱离、眼内窥镜下玻璃体视网膜手术、微创入路眼眶手术、微导管引导下的360度小梁切开术等技术在省内处于领先地位，部分手术达到国内领先水平。口腔科是省级临床重点专科，承担了国际&ldquo;微笑列车&rdquo;公益项目，在2004年被国家民政部、国际微笑列车总部、中华慈善总会评定为江苏省唯一一家可开展唇腭裂Ⅱ期手术的定点医院，2008年又被评为江苏省内综合医院中唯一一家A级医院，2017年获得&ldquo;全球领先者&rdquo;荣誉。神经内科是省级临床重点专科，中国卒中中心联盟和宿州市卫健委首批认证的宿州市&ldquo;卒中中心&rdquo;。产科是省妇幼健康重点学科建设单位，市级孕产妇和新生儿危急重症救治中心。肾内科为江苏省(苏北片)腹膜透析指导中心，其创立的家庭式腹膜透析管理中心，规模位于淮海经济区之首。</p>
            <p>
                　　2019年9月，经市委市政府批准，成立了以宿州市第一人民医院为总医院，铜山区人民医院为区级分院，大彭镇卫生院和驿城、文沃、焦山3个社区卫生服务中心为基层分院的医疗事业集团，并于当年11月30日正式挂牌运行。</p>
            <p>
                　　我院与上海东方肝胆医院共建&ldquo;吴孟超院士工作站&rdquo;，成立&ldquo;淮海经济区肝胆胰诊疗学术中心&rdquo;和 &ldquo;江苏吴孟超肿瘤精准医学中心&rdquo;，在肝胆外科和肿瘤诊疗领域开辟了新的发展空间;发起成立了淮海经济区眼科联盟及淮海眼科联盟AI阅片中心;与南京鼓楼医院王东进教授心胸外科团队、天津肿瘤医院蔡松健肿瘤诊疗专家团队、南京中大医院贾雪急救医学专家团队、中日友好医院贾磊神经外科专家团队、江苏省人民医院贾雪磊神经内科专家团队签订了专业技术支持与合作协议。近年来引进学科带头人和医学博士30余人。</p>
            <p>
                　　近年来，医院获全国巾帼建功先进集体、全国改善医疗服务示范医院、全国进一步改善医疗服务行动计划先进单位、全国医院后勤管理创新先进单位、全国医院感染横断面调查先进单位、全国百佳百姓放心示范医院等荣誉。</p>
            <p>
                &nbsp;</p>

    </form>
    </br>
    <div> <a href="/profile">返回首页</a> </div>


</div>




<script src="semantic.min.js"></script>

<script>
    $('.ui.form')
        .form({
            fields: {
                name       : 'empty',
                gender     : 'empty',
                age        : 'empty',
                contact    : 'empty',
                address    : 'empty',
                supervisor : 'empty',
                ward       : 'empty'
                /*speciality : 'empty'*/
                /*username : 'empty',
                password : ['minLength[6]', 'empty'],
                speciality   : ['minCount[2]', 'empty'],
                terms    : 'checked'*/
            }
        })
    ;
</script>

</body>
</html>



