<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
  <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
  <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
  <meta content="PPType" name="author" />
  <meta content="#ffffff" name="theme-color" />
   --><title>Hospital XYZ</title>
  <link rel="stylesheet" type="text/css" href="/hosp/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="/hosp/default.css" />
  <link rel="stylesheet" type="text/css" href="/hosp/pandoc-code-highlight.css" />
  <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
  <script src="/hosp/jquery.min.js"></script>
</head>


<body>

  <!-- <div class="ui horizontal divider">or</div> -->

  <div class="ui container">

    <form class="ui form segment">
    
      <h1>Prescription</h1>

      <div class="two fields">

        <div class="field">
          <label>Name of the Patient</label>
          <input placeholder="Name" name="name" type="text">
        </div>

        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

      </div>

      <div class="three fields">

        <div class="field">
          <label>Age</label>
          <input placeholder="Age" name="age" type="text">
        </div>

        <div class="field">
          <label>Contact No.</label>
          <input placeholder="Contact Number" name="contact" type="text">
        </div>

        <div class="field">
          <label>Address</label>
          <input placeholder="Address" name="address" type="text">
        </div>

      </div>

      <div class="field">
        <label>Prescribed Medicines</label>
        <textarea name="prescription" rows="10" cols="100" placeholder="Write about the prescribed medicines for the patient in here"></textarea>
      </div>

      <div class="field">
        <label>Special Note</label>
        <textarea name="prescription" rows="5" cols="50" placeholder="Write special note here (if any)."></textarea>
      </div>

      <!-- <div class="two fields">

        <div class="field">
          <label>Registar ID</label>
          <input placeholder="Registar ID" name="registar" type="text">
        </div>

        <div class="field">
          <label>Assigned Ward</label>
          <input placeholder="Assigned Ward" name="ward" type="text">
        </div>

      </div> -->

      <!-- <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input placeholder="Username" name="username" type="text">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password">
        </div>
      </div> -->

      <!-- <div class="field">
        <label>Speciality</label>
        <select name="speciality" class="ui dropdown">
          <option value="">Select Skills</option>
          <option value="Cardiologists">Cardiologists</option>
          <option value="Dermatologists">Dermatologists</option>
          <option value="Emergency_Medicine_Specialists">Emergency Medicine Specialists</option>
          <option value="Neurologists">Neurologists</option>
          <option value="Oncologists">Oncologists</option>
          <option value="Pathologists">Pathologists</option>
          <option value="Psychiatrists">Psychiatrists</option>
        </select>
      </div> -->
      <!-- <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="terms">
          <label>I agree to the terms and conditions</label>
        </div>
      </div> -->
      <div class="ui primary submit button">Submit</div>
      <div class="ui error message"></div>
    </form>

    <div> <a href="index.html">Go back</a> </div>
    
  </div>

  

  <script src="/hosp/semantic.min.js"></script>

  <script>
  $('.ui.form')
    .form({
      fields: {
        name         : 'empty',
        gender       : 'empty',
        age          : 'empty',
        contact      : 'empty',
        address      : 'empty',
        prescription : 'empty'

        /*registar   : 'empty',
        ward       : 'empty',
        speciality : 'empty'*/
        /*username : 'empty',
        password : ['minLength[6]', 'empty'],
        speciality   : ['minCount[2]', 'empty'],
        terms    : 'checked'*/
      }
    })
  ;
</script>

</body>
</html>



