<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
  <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
  <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
  <meta content="PPType" name="author" />
  <meta content="#ffffff" name="theme-color" />
   --><title>Hospital XYZ</title>
  <link rel="stylesheet" type="text/css" href="semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="default.css" />
  <link rel="stylesheet" type="text/css" href="pandoc-code-highlight.css" />
  <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
  <script src="jquery.min.js"></script>
</head>


<body>

  <!-- <div class="ui horizontal divider">or</div> -->

  <div class="ui container">

    <form class="ui form segment" action="/newNurseExperience" method="POST">
    
      <h1>Fill the following form to add new "Nurse" to the system</h1>

      <caption><strong>Experience</strong> </caption>
      <div class="field">
        <table class="ui basic table">
          <thead>
            <tr>
              <th>Job Title</th>
              <th>From</th>
              <th>To</th>
              <th>Organization</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input placeholder="Job Title"    name="title1"        type="text">
              </td>
              <td>
                <input placeholder="From"         name="from1"         type="date">
              </td>
              <td>
                <input placeholder="To"           name="to1"           type="date">
              </td>
              <td>
                <input placeholder="Organization" name="organization1" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Job Title"    name="title2"        type="text">
              </td>
              <td>
                <input placeholder="From"         name="from2"         type="date">
              </td>
              <td>
                <input placeholder="To"           name="to2"           type="date">
              </td>
              <td>
                <input placeholder="Organization" name="organization2" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Job Title"    name="title3"        type="text">
              </td>
              <td>
                <input placeholder="From"         name="from3"         type="date">
              </td>
              <td>
                <input placeholder="To"           name="to3"           type="date">
              </td>
              <td>
                <input placeholder="Organization" name="organization3" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Job Title"    name="title4"        type="text">
              </td>
              <td>
                <input placeholder="From"         name="from4"        type="date">
              </td>
              <td>
                <input placeholder="To"           name="to4"           type="date">
              </td>
              <td>
                <input placeholder="Organization" name="organization4" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Job Title"    name="title5"        type="text">
              </td>
              <td>
                <input placeholder="From"         name="from5"         type="date">
              </td>
              <td>
                <input placeholder="To"           name="to5"           type="date">
              </td>
              <td>
                <input placeholder="Organization" name="organization5" type="text">
              </td>
            </tr>
          </tbody>
        </table>
      </div>



<button class="ui primary submit button">Submit</button>
      <div class="ui error message"></div>
    </form>

    <div> <a href="/profile">Go back</a> </div>
    
  </div>


  <script src="semantic.min.js"></script>

    <script>
    $('.ui.form')
      .form({
        fields: {
          name       : 'empty',
          gender     : 'empty',
          age        : 'empty',
          contact    : 'empty',
          address    : 'empty',
          registar   : 'empty',
          ward       : 'empty',
          speciality : 'empty'
          /*username : 'empty',
          password : ['minLength[6]', 'empty'],
          speciality   : ['minCount[2]', 'empty'],
          terms    : 'checked'*/
        }
      })
    ;
  </script>  


</body>
</html>      