<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
  <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
  <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
  <meta content="PPType" name="author" />
  <meta content="#ffffff" name="theme-color" />
   --><title>Hospital XYZ</title>
  <link rel="stylesheet" type="text/css" href="semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="default.css" />
  <link rel="stylesheet" type="text/css" href="pandoc-code-highlight.css" />
  <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
  <script src="jquery.min.js"></script>
</head>


<body>

  <!-- <div class="ui horizontal divider">or</div> -->

  <div class="ui container">

    <form class="ui form segment" action="/newDoctorQualification" method="POST">
    
      <h1>Fill the following form to add new "Doctor" to the system</h1>

      <caption><strong>Educational Qualification</strong> </caption>
      <div class="field">
        <table class="ui basic table">
          <thead>
            <tr>
              <th>Degree</th>
              <th>Board/Institution</th>
              <th>Year</th>
              <th>Division/CGPA</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input placeholder="Degree" name="degree1" type="text">
              </td>
              <td>
                <input placeholder="Board/Institution" name="board1" type="text">
              </td>
              <td>
                <input placeholder="Year" name="year1" type="text">
              </td>
              <td>
                <input placeholder="Division/CGPA" name="cgpa1" type="text">
              </td>
              <td>
                <input placeholder="Position" name="position1" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Degree" name="degree2" type="text">
              </td>
              <td>
                <input placeholder="Board/Institution" name="board2" type="text">
              </td>
              <td>
                <input placeholder="Year" name="year2" type="text">
              </td>
              <td>
                <input placeholder="Division/CGPA" name="cgpa2" type="text">
              </td>
              <td>
                <input placeholder="Position" name="position2" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Degree" name="degree3" type="text">
              </td>
              <td>
                <input placeholder="Board/Institution" name="board3" type="text">
              </td>
              <td>
                <input placeholder="Year" name="year3" type="text">
              </td>
              <td>
                <input placeholder="Division/CGPA" name="cgpa3" type="text">
              </td>
              <td>
                <input placeholder="Position" name="position3" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Degree" name="degree4" type="text">
              </td>
              <td>
                <input placeholder="Board/Institution" name="board4" type="text">
              </td>
              <td>
                <input placeholder="Year" name="year4" type="text">
              </td>
              <td>
                <input placeholder="Division/CGPA" name="cgpa4" type="text">
              </td>
              <td>
                <input placeholder="Position" name="position4" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Degree" name="degree5" type="text">
              </td>
              <td>
                <input placeholder="Board/Institution" name="board5" type="text">
              </td>
              <td>
                <input placeholder="Year" name="year5" type="text">
              </td>
              <td>
                <input placeholder="Division/CGPA" name="cgpa5" type="text">
              </td>
              <td>
                <input placeholder="Position" name="position5" type="text">
              </td>
            </tr>
          </tbody>
        </table>
      </div>



<button class="ui primary submit button">Next Page</button>
      <div class="ui error message"></div>
    </form>

    <div> <a href="/profile">Go back</a> </div>
    
  </div>


  <script src="semantic.min.js"></script>

    <script>
    $('.ui.form')
      .form({
        fields: {
          name       : 'empty',
          gender     : 'empty',
          age        : 'empty',
          contact    : 'empty',
          address    : 'empty',
          registar   : 'empty',
          ward       : 'empty',
          speciality : 'empty'
          /*username : 'empty',
          password : ['minLength[6]', 'empty'],
          speciality   : ['minCount[2]', 'empty'],
          terms    : 'checked'*/
        }
      })
    ;
  </script>  


</body>
</html>      