<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
    <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
    <meta content="PPType" name="author" />
    <meta content="#ffffff" name="theme-color" />
     --><title>Hospital XYZ</title>
    <link rel="stylesheet" type="text/css" href="/hosp/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/hosp/default.css" />
    <link rel="stylesheet" type="text/css" href="/hosp/pandoc-code-highlight.css" />
    <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
    <script src="/hosp/jquery.min.js"></script>
</head>


<body>

<!-- <div class="ui horizontal divider">or</div> -->

<div class="ui container">

    <form class="ui form segment" action="/tijian4" method="POST">

        <h1><%=test %></h1>

        <caption> <strong> 内科检查 </strong></caption>
        <div class="two fields">
            <div class="field">
                <label>内科情况</label>
                <textarea name="neike" type="text"></textarea>
            </div>
        </div>

        <caption> <strong> 外科检查 </strong></caption>
        <div class="two fields">
            <div class="field">
                <label>外科情况</label>
                <textarea name="waike" type="text"></textarea>
            </div>
        </div>

        <button class="ui primary submit button">Submit</button>
        <div class="ui error message"></div>
    </form>

    <div> <a href="/tijian">Go back</a> </div>

</div>



<script src="/hosp/semantic.min.js"></script>

<script>
    $('.ui.form')
        .form({
            fields: {
                name       : 'empty',
                gender     : 'empty',
                age        : 'empty',
                contact    : 'empty',
                address    : 'empty',
                supervisor : 'empty',
                ward       : 'empty'
                /*speciality : 'empty'*/
                /*username : 'empty',
                password : ['minLength[6]', 'empty'],
                speciality   : ['minCount[2]', 'empty'],
                terms    : 'checked'*/
            }
        })
    ;
</script>

</body>
</html>